div.item
	 {
		background: none repeat scroll 0% 0% rgb(238, 238, 238);
		border: 1px solid rgb(202, 202, 202);
		border-radius: 3px;
		display: inline-block;
		height: auto;
		margin: 5px 5px;
		width: 150px;
	}

div.item:hover
{ border-color: #9ecaed; box-shadow: 0 0 10px #9ecaed; outline: none; }

div.itemImg { background-color: rgb(225, 225, 225); background-image: -moz-linear-gradient(center top , rgb(241, 241, 241), rgb(225, 225, 225)); text-align: center; overflow: hidden;}

div.itemImg img { height: 100px; }

div.item h4 { margin: 0px 0px; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
div.itemPrice { text-align: center; }

div.item div.footer.in-stock { background-color: rgb(157, 230, 145); background-image: -moz-linear-gradient(center top , rgb(157, 230, 145), rgb(112, 219, 100)); border: 1px solid rgb(139, 195, 132); }

div.item div.footer.out-stock {
	background-color: rgb(183, 183, 183);
	background-image: -moz-linear-gradient(center top , rgb(183, 183, 183), rgb(148, 148, 148));
	border: 1px solid rgb(136, 136, 136);
	color: rgb(255, 255, 255);
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.2);
}

div.buyBtn { margin: 8px 2px; text-align: center; }

div.miniitem
{
	width: 150px;
	background: none repeat scroll 0% 0% rgb(238, 238, 238);
	border: 1px solid rgb(202, 202, 202);
	border-radius: 3px;
	margin: 5px 5px;
	overflow: hidden;
	text-align: center;
}

div.miniitem img
{
	height: 100px;
}

div.miniitem h4 { margin: 0px 0px; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

#preview {
	background: #333;
	border: 1px solid #ccc;
	color: #fff;
	display: none;
	padding: 5px;
	position: absolute;
}

