#footer {
    line-height: 18px;
    color: rgb(138, 138, 138);
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid rgb(218, 219, 219);
	height: 250px;
}

#footer .block {
    float: left;
    margin: 5px 10px;
    padding: 10px;
    width: 204px;
}
