/*
http://www.freshdesignweb.com/beautiful-registration-form-with-html5-and-css3.html
*/

.registry-form {
	background:#f1f1f1; width:360px; margin:0px auto; padding: 2px 5px;
}
.registry-form fieldset{border:1px solid #cdcdcd; padding:10px; margin-bottom:10px;}
.registry-form fieldset fieldset{border:0px; padding:0px; margin:0px;}
.registry-form fieldset legend { font-size: 15px; font-family: arial; color: #4b8df9; }
.registry-form fieldset label { margin-left: 5px; padding: 5px;}

.registry-form input[type="text"] { width: 150px; margin-left: 10px; }
.registry-form input[type="password"] { width: 150px; }
.registry-form input.account_info { width: 150px; }
.registry-form input.birthday{width:60px;}
.registry-form input.birthyear{width:40px;}
.registry-form label { color: #000; font-weight:bold;font-size: 12px;font-family:Arial, Helvetica; }
.registry-form label.month {width: 135px;}
.registry-form input, textarea { background-color: rgba(255, 255, 255, 0.4); border: 1px solid rgba(122, 192, 0, 0.15); padding: 4px; font-family: Keffeesatz, Arial; color: #4b4b4b; font-size: 14px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; }
.registry-form input:focus, textarea:focus { border: 1px solid #4b8df9; background-color: rgba(255, 255, 255, 1); }
.registry-form .select-style {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 0px solid #FFF;
  color: #555;
  margin: 0px 0px 15px 0px;
  padding-top: 0px;
  padding-bottom: 0px;
 }

.registry-form input.buttom{ background: #4b8df9; display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Verdana, Geneva, sans-serif;}
.registry-form input.buttom:hover	{ background-color: #2a78f6; }

#signup-form {
	margin: 0px;
}

#signup-form span.warning {
	display: none;
}

/* jquery lean modal */
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}



