ul { list-style: none; margin: 0; padding: 0; }

body { color: blue; min-width: 550px; }

#header #login a { color: #3B3D48; text-decoration: none; }

#header #menu a:link { color: #fff; text-decoration: none; }

#header #menu a:visited { color: #fff; text-decoration: none; }

#header #menu a:hover { color: #80C5FA; text-decoration: none; }

#login {
	background: #fff;
	float: right;
	font-family: arial, tohoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 16px;
	line-height: 0;
	margin: 5px 30px 0px 0px;
	padding: 4px 10px;
}

#login ul li { float: left; height: 10px; padding: 9px; }

#login label[for="username"] { color: #3B3D48; }

#login #name { color: blue; font-size: 14px; margin-right: 15px; }

#login input[type="text"], input[type="password"] { border: 1px solid #80C5FA; width: 80px; }

#login input[type="submit"] {
	background: #3B3D48;
	border: 1px solid #dddddd;
	color: #dddddd;
	cursor: pointer;
}

#menu ul { position: relative; }

#menu ul li a {
	display: block;
	line-height: 1;
	padding: 10px 15px;
	text-decoration: none;
}

#menu ul li { float: left; height: 34px; }

#menu {
	background: #3B3D48;
	color: #ffffff;
	font-family: arial, tohoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 34px;
	text-align:right;
}

#header div#search {
    float: right;
    font-size: 12px;
	height: 16px;
    margin: 2px 2px;
}

#search-form input[type="text"] {
    background: no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #000;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}




