#container { border: 0px solid #000; margin: 0px auto; width: 980px; }

#header {
	background: #fff;
	border: 1px solid #cdcdcd;
	color: red;
	margin: 0px 0px 8px 0px;
	width: 980px;
}

#header #banner { border: 0px solid #000; width: 980px; }

#footer { clear: both; }

a { text-decoration: none;}
a:link, a:visited { color: rgb(35, 73, 124); }
a:hover { color: red; text-decoration: underline; }

body
{
	background-color:#8D98A1;
	font-family: 'Open Sans',sans-serif;
	font-size:12px;
	line-height:15px;
	font-weight:normal;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	color: rgb(51, 51, 51);
}
<!-- style table cart, bill  -->
#content #mid .table {font-family: arial; color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
#content #mid .table th {font-size:14px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:center;}
#content #mid .table tr {background-color:#ffffff;}
#content #mid .table td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
#content #mid .table tr:hover {background-color:#dddddd;}