div.itemdetail
{
    position: relative;
    max-width: 600px;
}

div.itemdetail.left
{
    float: left;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
}

div.itemdetail.left img
{
    width:300px;
}

div.itemdetail.name
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: rgb(255, 255, 255);
    padding: 10px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
    width:auto;
    max-width: 250px;
}
div.itemdetail.right
{
    margin-left: 320px;
    max-width: 300px;
}
div.itemdetail.right li
{
    margin-bottom: 10px;
}

div.itemdetail.bottom
{
    clear: both;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

div.itemdetail2
{
    position: relative;
}

div.itemdetail2.left
{
    float: left;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
}

div.itemdetail2.left img
{
    width:300px;
}

div.itemdetail2.name
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: rgb(255, 255, 255);
    padding: 10px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
    width:auto;
    max-width: 250px;
}
div.itemdetail2.right
{
    margin-left: 320px;
    max-width: 300px;
}
div.itemdetail2.right li
{
    margin-bottom: 10px;
}

div.itemdetail2.bottom
{
    clear: both;
    height: 100%;
    background-color: black;
}

