div.styled-panel {
    background: none repeat scroll 0% 0% rgb(238, 238, 238);
    border: 1px solid rgb(202, 202, 202);
    border-radius: 3px;
    box-shadow: 0px 1px 6px 0px rgb(194, 194, 194);
    margin-bottom: 10px;
    width: 100%;
}
div.styled-panel.header {
    background-color: #DD4814;
    border-radius: none;
    color: #fff;
    margin: 0px;
    padding: 0px;
}
div.styled-panel.header h3 {
    font-size: 1.238em;
    font-weight: 300;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
    padding: 0px;
}
div.styled-panel.body {
    border: none;
    border-radius: none;
    box-shadow: none;
    margin: 5px;
    width: auto;
}
