#content { padding-left: 150px      /* LC width */; padding-right: 150px     /* RC width */; }

#content .column { float: left; position: relative; }

#left {
	margin-left: -100%;
	padding: 0 10px;
	right: 160px; /* LC width */
	width: 140px; /* LC width */
}

#mid { width: 100%; }

#right { margin-right: -100%; padding: 0 10px; width: 140px             /* RC width */; }
