#container {
    font-family: arial;
}

#header {
    border: 2px solid #acc8cc;
    border-collapse: collapse;
}

#header a {
    text-decoration: none;
    color: #242424;
    font-size:16px;
}

#header a:hover {
    color: #204075;
    font-weight: bold;
}

#header .head_menu {
    background:#acc8cc;
}

#content {font-family: arial; color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
#content th {font-size:16px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:center;}
#content tr {background-color:#ffffff;}
#content td {font-size:14px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
#content tr:hover {background-color:#dddddd;}

#footer {
    border: 2px solid #acc8cc;
    border-collapse: collapse;
}
